# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/

# VS Code specific
.vscode/
.settings/

# macOS specific
.DS_Store

# Environment and virtual folders
.venv/
.env/
__pycache__/
posts.json
